#editor {
  display: inline-block;
  width: calc(100% - 210px);
  height: 50px;
}
#authoring {
  width: 100%;
  height: 51px;
  left: 0px;
  margin-top: 50px;
}
#page-selection {
  width: 200px;
  display: inline-block;
  height: calc( 100vh - 50px );
  vertical-align: top;
}
.CodeMirror {
  height: calc( 100vh  - 155px);
}
BODY {
  margin: 0px;
}
.editor-preview-side {
  background: white;
}
.editor-preview-side IMG {
  width: 100%;
}
#page-selection LI {
  list-style: none;
  border: 1px solid #DDD;
  padding: 5px;
  cursor: move;
  margin: 0px !important;
}
#page-selection .nav_wrapper {
  width: calc(100% - 22px);
  display: inline-block;
}
#page-selection LI.current-page {
  background: #313131;
  color: white;
}
#page-selection LI.current-page H3 {
  text-decoration: underline;
  text-decoration-color: #1B7991;
}
#page-selection UL {
  padding: 0px !important;
  list-style-type: none !important;
  max-height: 100%;
  overflow-y: scroll;
}
#page-selection UL .nav {
  margin: 0px;
  overflow: hidden;
}
#page-selection .nav LI {
  border: 0px;
  font-size: smaller;
  padding: 0px;
  text-indent: -10px;
  position: relative;
  left: 15px;
}
#page-selection .nav LI:before {
  content: '- ';
}
#pages {
  position: relative;
  /*top: 50px;*/
  height: calc(100vh - 50px);
  /*border-right: 1px solid #DDD;*/
}
#pages H3 {
  margin: 0px;
}
#pages H4 {
  margin: 0px;
}
.current-page .js-remove {
  cursor: pointer;
  color: white;
  background: red;
  width: 22px;
  height: 22px;
  text-align: center;
  display: inline-block;
  /*float: right;*/
  vertical-align: top !important;
  margin: 0px;
}
.js-remove {
  display: none;
}
HEADER {
  margin-bottom: 50px !important;
}
.au-text-input {
  width: calc( 100vw - 270px);
  max-width: 70%;
  margin-right: 5px;
  float: right;
}
#showAPIs {
  margin-left: 20px;
}
